.contact-page{
    background: linear-gradient( #1B1B1B 60%, grey 40%);
    height: 100vh; /* set the height of the div */
    display: flex;


    color: white;
  }

  .contact-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
height: 400px;
width: 600px;
background-color: green;
margin: auto;

  }

  .contact-card{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 50px;
    height: 5rem;
  }
  .contact-icon{
background-color: #2B2B2B;
height: 3rem;
width: 3rem;
display: flex;
justify-content: center;
align-items: center;
  }

  .contact-address{
    width: 400px;
    height: 5rem;
  }