.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 24px;
}

.navigation-bar{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto 0;
}

.logo {
    margin: auto 0;
}