.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    /* opacity: 0.5; */
    /* background-color: black; */
}

.navigation-bar{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto 0;
}

.logo {
    margin: auto 0;
}