.HomeBackgrnd {
  width: 100%;
  height: 100%;
}

.home-two {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}
.sidimg {
  margin: auto;
  box-sizing: border-box;
}
.home-two > .section-1 {
  width: 50%;
  padding-top: auto;
}
.section-1-img {
  max-height: 80%;
}

.photoalbum-gallery{
  width: 50%;
  display: block;
  background-color: white;
}